
.AppButton{
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 9px 24px;
    border-radius: 100px;
    border: 1px solid #E2E2E2;
    color: rgba(96, 55, 164, 1);
}
.active{
    background-color: red;
    color: white;
}
.AppButton:not(.active):hover{
    background-color: rgba(96, 55, 164, 0.06);
}
